
# Django
*.log
*.pot
*.pyc
local_settings.py

# MySQL dumps (optional)
*.sql

# Migrations (optional)
**/migrations/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Python compiled files
*.pyc
*.pyd
*.pyo


# Environment variables
.env
